name: CD
on:
  release:
    types:
      - created

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 14
      - name: Install vsce
        run: npm install -g vsce
      - name: Install dependencies
        run: npm install
      - name: Publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
        run: vsce publish -p "$VSCE_PAT"
